@media screen and (max-width: 1024px){
  body{
    font-size: 14px;
  }
  .container{
    grid-template: 5em 1fr / 8% 1fr;
    grid-template-areas: "header header"
                       "lateral principal";
  }
  .header{
    grid-template-columns: 1fr 400px 1fr;
    height: 4.375em;
  }
  .logo img{
    width: 7.15em;
  }
  .input{
    width: 80%;
  }
  .user{
    grid-template-columns: 2fr 1.5fr 2fr;
  }
  .user img{
    width: 2.86em;
  }
  .lateral{
    top: 4.375em;
  }
  .menu ul{
    grid-template-rows:1fr 2fr ; 
  }
  .menu a{
    font-size: 1.286em;
  }
  .menu a p{
    font-size: .72em;
  }
  .movies{
    grid-template: 3em 1fr 1fr / repeat(2, minmax(350px ,1fr));
    grid-template-areas: "text text"
                         "images images"
                         "images images";
  }
  .images{
    grid-row: span 1;
  }
  .image-overlay p{
    font-size: .9em;
  }
}

@media screen and (max-width: 768px){
  .container{
    grid-template: 5em 1fr 8%/ 1fr;
    grid-template-areas: "header"
                         "principal"
                         "lateral";
  }
  .header{
    position: initial;
    grid-template-columns: 1fr 2fr 1fr ;
  }
  .user{
    grid-template-columns: 1.5fr 1fr;
  }
  .input{
    display: grid;
    grid-template: 1fr / 1fr; 
    width: 100%;
    justify-self: center;
  }

  .input.is-active{
    width: 92%;
    justify-self: start;
  }

  .input-text{
    display: none;
  }
  .input-text.is-active{
    display: block;
    width: 100%;
  }
  .icon-search{
    display:grid;
    font-size: 1.34em;
    align-self: center;
    justify-self: end;
  }
  .icon-search.is-active{
    display: none;
  }

  .user span{
    display: none;
  }
  .user img{
    width: 2.5em;
    justify-self: end;
  }
  .lateral{
    bottom: 0;
    top: auto;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
  }
  .menu ul{
    padding: 0 1em;
    grid-template: 1fr / 2fr 1fr;
  }
  .menu a p{
    display: none;
  }
  .list.one{
    display: flex;
    justify-content: space-between;
  }

  .list.two{
    display: flex;
    justify-content:flex-end;
  }

  .home,
  .trending,
  .likes,
  .settings{
    display: flex;
    padding: 0;
    margin: 1em;
    align-self: center;
  }
  .principal{
    margin-bottom: 6em;
  }
  .movies{
    grid-template: 3em repeat(4, 1fr) / 1fr;
    grid-template-areas: "text"
                         "images"
                         "images"
                         "images"
                         "images"; 
  }
  .text{
    font-size: 1.34em;
  }
  .image-overlay{
    padding: 2em;
  }
  .image-overlay h4{
    font-size: 1.5em;
  }
  .image-overlay p{
    font-size: 1.15em;
  }
}

@media screen and (max-width: 480px){
  body{
    font-size: 12px;
  }

  .container{
    grid-template: 3.75em 1fr 8%/ 1fr;
    grid-template-areas: "header"
                         "principal"
                         "lateral";
  }

  .input.is-active{
    width: 90%;
    justify-self: start;
  }

  .user{
    grid-template-columns: 2fr 1fr;
  }

  .principal{
    padding: 1.25em 0;
  }
  .text{
    justify-self: center;
  }
  .images:hover .image-overlay{
    top: 0;
  }
}

@media screen and (max-width: 320px)
{
  .input.is-active{
    width: 80%;
    justify-self: start;
  }
}