body{
  margin:0; 
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: grid;
  grid-template: 10% 1fr / 8% 1fr; 
  grid-template-areas: "header header"
                       "lateral principal";
}

.header{
  display: grid;
  grid-area: header;
  width: 100%;
  grid-template: 1fr / minmax(200px, 1fr) minmax(600px, 1fr) minmax(200px, 1fr)  ;
  background: white;
  align-content: center;
  box-shadow: 0px 5px 10px 0px #0005;
  position: fixed;
  z-index: 1;
  bottom: 90%;
  top:0;
  left: 0;
  right: 0;
}

.logo{
  display: grid;
  width: 100%;
  margin: 0;
}

.logo img{
  width: 9.375em;
  justify-self: center;
  align-self: center;
}

.header input{
  width: 70%;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #555;
  justify-self: center;
  align-self: center;
}

.header input:focus{
  outline: none;
}

.user{
  width: 100%;
  height: 100%;
  margin: 0;
  display: grid;
  grid-template: 1fr / 1fr 100px 1fr;
}

.user span{
  font-size: 1em;
  font-weight: bold;
  align-self: center;
  justify-self: end;
}

.user img{
  width: 50px;
  border-radius: 50px;
  align-self: center;
  justify-self:center;
}

.icon-arrow{
  font-size: 24px;
  text-decoration: none;
  color: #000;
  justify-self: start;
  align-self: center;
}

.lateral{
  grid-area: lateral;
  background-color: #c72323;
  color: white;
  top: 10%;
  width: 8%;
  bottom: 0;
  position: fixed;
  z-index: 2;
}

.menu{
  width: auto;
  height: 100%;
}

.menu ul{
  padding: 1em 0;
  margin: 0;
  display:grid;
  height: 100%;
  grid-template-rows: repeat(2, 1fr);
  list-style:none;
}

.menu a p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: .5em;
  text-align: center;
  font-weight: bold;
}

.list{
  width: 100%;
  height: 100%;
  display: grid;
}

.home,
.trending,
.likes{
  text-align: center;
  align-self: center;
}

.settings{
  text-align: center;
  align-self: end;
  padding-bottom: 1em;
}

.menu a{
  font-size: 2em;
  margin: 0;
  text-decoration: none;
  color: white;
}

.principal{
  display: grid;
  grid-area: principal;
  justify-content: center;
  gap: 10px;
  padding: 20px 50px;
}

.movies{
  display: grid;
  grid-template: 3em  1fr/ repeat(4, minmax(350px,1fr));
  gap: 30px;
  grid-template-areas: "text ."
                       "images images";
  /* align-content: center;
  justify-content: center; */
}

.text{
  grid-area: text;
  align-self: center;
}

.images{
  /* display: flex; */
  margin: 0;
  cursor: pointer;
  grid-area: images;
  grid-column: span 1;
  height: 100%;
  position: relative;
  flex-wrap: wrap;
}

.images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-overlay{
  background-color: #3a3a3a66;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  padding: 1em;
  /* align-items: center; */
  /* justify-content: center; */
  color:white;
}

.image-overlay h4{
  margin: .5em 0;
  font-size: 1.2em;
  text-transform: capitalize;
}

.image-overlay p{
  margin: 0;
  font-size: .8em;
}

.images:hover .image-overlay{
  display: block;
  top:45%;
}

@media screen and (max-width: 1024px){
  .container{
    grid-template: 6% 1fr / 8% 1fr;
    grid-template-areas: "header header"
                       "lateral principal";
  }
  .header{
    grid-template-columns: 1fr 400px 1fr;
  }
  .header input{
    width: 80%;
  }
  .logo img{
    width: 6.25em;
  }
  .user{
    grid-template-columns: 2fr 1.5fr 2fr;
  }
  .user span{
    font-size: .875em;
  }
  .menu ul{
    grid-template-rows:1fr 2fr ; 
  }
  .menu a{
    font-size: 1.25em;
  }
  .menu a p{
    font-size: .67em;
  }
  .movies{
    grid-template: 2em 1fr 1fr / repeat(2, minmax(350px ,1fr));
    grid-template-areas: "text text"
                         "images images"
                         "images images";
  }
  .images{
    grid-row: span 1;
  }
}